@import 'normalize.css';
@import 'ui/utils.css';

body {
  font-family: 'Helvetica', sans-serif;
  padding:  24px;
}

img {
  width: 100%;
}

/**
 * Tagged image
 */

.hero {
  position: relative;
  z-index: 10;
  overflow: hidden;
  width: 100%;
}

.hero_canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}

.hero_notes {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,255,0.5);
}

.hero_image {
  width: 100%;
  float: left;
}








.note_marker {
  height: 0.5rem;
  width: 0.5rem;
  margin-left: -.5rem;
  margin-top: -.5rem;
  border-radius: 10px;
  background-color: red;
  border: 2px solid yellow;
  position: absolute;
}

@media (min-width: 60em) {
  .note_marker {
    height: 1rem;
    width: 1rem;
  }
}

.note_marker--mock {
  top: 24%;
  left: 44.5%;
}

.note_content {
  display: none;
  background: black;
  color: white;
  font-size: 12px;
  position: absolute;
  z-index:  1000;
  bottom: 1em;
  right: -60px;
  padding: 4px;
  width: 120px;
  text-align: center;
}

.note_input {
  background: inherit;
  border: none;
  width:  100%;
}

.note_marker:hover > .note_content {
  display: block;
}

